.header {
    background: white;
    color: #010101;
}
nav ul, nav li {
    display: block;
    padding: 0;
    margin: 0;
}
.first_row {
    bottom: #c2ffdb;
}
.menu {
    margin-top: 10px;
}
.menu__item {
    margin: 0 57px;
}
.menu__item a {
    font-size: 22px;
    font-weight:700;
    color: #000;
}
h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000;
}


.offer {
    margin-top: 117px;

}
.offer_title {
    font-style: 32px;
    margin-bottom: 15px;
}
.offer_intro {
    font-size: 20px;
    line-height: 1.3em;
}

.logo_img img {
    width: 50%;
    height: 60%;
}

.sad {
    display: block;
    margin-top: 60px auto;
    padding-bottom: 105px;
}

.footer {
    background:#a8f0e9;
    
    
    padding: 50px 0 94px; 
    
    
    
}/* position: fixed; */
.footer__text {
    color:#000;
    font-size: 16px;
    width: 184px;
    margin: 0 auto;
    text-align: center;
}

.groups {
    margin:50px 0 50px;
}

.contact__zav {
    margin: 60px 0 auto;
}



a.title-link{ 
    display:block; 
    
    color: black ; 
}
.table_of_contents {
    margin: 50px;
}

